/*
Theme Name: Adara
*/

@font-face {
    font-family: 'GlacialIndifference-bold';
    src: url('fonts/GlacialIndifference/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GlacialIndifference-regular';
    src: url('fonts/GlacialIndifference/GlacialIndifference-Regular.otf') format('opentype');
}

html {
    margin-top: 0 !important;
}

body {
    background-color: #7f7773;
    font-family: 'GlacialIndifference-regular';
    color: #FFF;
    position: relative;
}

a, i {
    -webkit-transition: all 0.2s linear;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: transparent;
    box-shadow: none;
    height: 85px;
    line-height: 85px;

}

nav a {
    color: #fff;
    height: 100%;
    float: left;
}

.menu-mainmenu-container > ul > li:hover > a,
.menu-mainmenu-container > ul > li.current-menu-item > a,
.menu-mainmenu-container > ul > li.current-menu-ancestor > a {

}

nav ul li {
    -webkit-transition: all .2s cubic-bezier(0, 0.18, 0.07, 0.55);
    transition: all .2s cubic-bezier(0, 0.18, 0.07, 0.55);
}

nav ul a:hover {
    background-color: transparent;
    font-weight: bold;
    color: #fb893a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.current-menu-item > a, .current-menu-ancestor > a {
    color: #fb893a;
}

nav ul a, nav .brand-logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

nav a img {
    vertical-align: middle;
    padding-top: 15px;
    width: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.btn-submit {
    background: transparent;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.btn-submit:hover {
    background-color: #fff;
    color: #7f7773;

}

div.wpcf7 {
    margin: 0 auto;
    max-width: 550px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input[type=text],
input[type=email],
.wpcf7-textarea {
    outline-color: transparent;
    outline-style: none;
    border: 1px solid rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 1px rgb(228, 228, 228);
    padding: 0px 10px;
    font-size: 17px;
    box-sizing: border-box;
    height: 2.2em;
    margin-bottom: 0.4em;
}

label {
    color: #fff;

}

.wpcf7-form-control.wpcf7-textarea {
    min-height: 120px;
}

.wpcf7-input-label {
    font-size: 16px;
}

.contact-title {
    font-size: 50px;
}

.wpcf7 p {
    margin: 0;
}

.footer-logo-link img {
    height: 48px;
}

.copyright {
    color: #7F7773;
}

.copyright a {
    color: white;
}

.row:after, .row:before {
    content: " ";
    display: table;
    font-size: 0.01px;
}

.social-icons a, .action-down {
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 1.5;
    font-size: 24px;
    width: 2em;
    height: 2em;
    display: inline-block;
    padding: 5px;
    color: #fff;
    margin: 10px;
    text-align: center;
}

.circle.material-icons {
    font-size: 40px;
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    line-height: 1.2;
}

.constellation {
    width: 100%;
    z-index: 0;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 130px;
    left: 0;
    right: 0;
}

.mission {
    height: auto;
}

.constellation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 80vh;
    height: 100%;
    position: relative;
}

.intro-text-wrapper {
    position: absolute;
    bottom: 65px;
    height: 200px;
    max-width: 1000px;
    width: 90%;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);;
}

.intro-orange-text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.intro-orange-text p {
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.home.page h4.intro-orange-text {
    font-size: 24px;
}

.front-page-intro {
    position: fixed;
    top: 85px;
    bottom: 188px;
    left: 0;
    right: 0;
    z-index: -1;
}

.mission-wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

h1 {
    font-family: Oswald;
    font-weight: 200;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: GlacialIndifference-bold;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.orange {
    color: #fb893a;
    background-color: transparent !important;
}

h4 {
    font-family: Oswald;
    font-weight: 300;
    font-size: 24px;
    color: #fb893a;
    line-height: 1.4;
    margin-top: 30px;
}

.home.page h4 {
    font-family: Oswald;
    font-weight: 300;
    font-size: 32px;
    color: #fb893a;
    line-height: 1.4;
}

article p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 5px;
    font-family: GlacialIndifference-regular;
}

.sub-menu {
    visibility: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2), -1px -1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    opacity: 0;
    width: auto;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #fff;
    background-color: rgba(127, 119, 115, 0.95);
    z-index: 999;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding: 10px;
}

.menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    top: 80px;
}

.sub-menu:after {
    top: -7px;
    border-color: transparent transparent #7f7773 transparent;
    border-width: 10px;
}

.sub-menu:after,
.sub-menu:before {
    content: '';
    margin-top: -13px;
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-style: solid;
}

.sub-menu:before {
    top: -10px;
    margin-left: -1px;
    border-color: transparent transparent #FFF transparent;
    border-width: 11px;
}

.sub-menu li {
    line-height: 1.5;
    text-align: center;
    width: 100%;
}

.sub-menu li a {
    line-height: 2;
    height: auto;
    display: block;
    width: 100%;
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
    opacity: 1;
    top: 77px;
}

nav.small-top-menu .menu-item-has-children:hover .sub-menu {
    top: 57px;
}

footer.page-footer {
    background-color: #404039;
    padding-bottom: 20px;
}

.scroll-block {
    position: relative;
    z-index: 1;
    margin-bottom: 250px;
    background-color: #7f7773;
    padding-bottom: 30px;
    overflow: hidden;
}

.page-footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.page-footer a {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.page-footer .menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.page-footer .current-menu-item a {
    color: #fb893a;
}

.page-footer a:hover, .action-down:hover {
    color: #fb893a;
    border-color: #fb893a;
    cursor: pointer;
}

.main-container {
    min-height: 55vh;
}

.adjustable-elements-3cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.adjustable-elements-3cols .col {
    margin-bottom: 5px;
    position: relative;
}

.adjustable-elements-3cols .col > div {
    background-color: #FFF;
    color: #000;
    padding: 20px 15px;
    height: 100%;
}

.adjustable-elements-3cols .col > div .icon-wrapper {
    text-align: center;
}

.adjustable-elements-3cols .col > div .icon-wrapper img {
    width: 30%;
    text-align: center;
}

.adjustable-elements-3cols .col > div .title-wrapper {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    min-height: 70px;
    line-height: 1.4;
    font-family: 'GlacialIndifference-bold';
}

.adjustable-elements-3cols .col > div .content-wrapper {
    font-weight: normal;
    font-size: 18px;
}

.adjustable-elements-4cols .col {
    padding: 0 5px;
}

.adjustable-elements-4cols .col > div {
    color: #FFF;
    padding: 10px 0;
    height: 100%;
}

.adjustable-elements-4cols .col > div .icon-wrapper img {
    width: 100%;
    max-height: 100%;
}

.adjustable-elements-4cols .col > div .title-wrapper {
    font-size: 24px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Oswald;
    color: #fb893a;
}

.adjustable-elements-4cols .col > div .position-wrapper {
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}

.adjustable-elements-4cols .col > div .content-wrapper,
.adjustable-elements-4cols .col > div .content-wrapper * {
    font-size: 16px;
    color: #d4d6d9;
    line-height: 1.5;
}

.adjustable-elements-4cols .col > div .content-wrapper strong {
    font-weight: bold;
    display: inline-block;
}

/* 5 Cols */
.row .col.s1-5 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.adjustable-elements-5cols .col {
    padding: 0 20px;
}

.adjustable-elements-5cols .col > div {
    color: #FFF;
    padding: 10px 0;
    height: 100%;
    text-align: center;
}

.adjustable-elements-5cols .col > div .letter-wrapper {
    font-size: 128px;
    line-height: 1;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
}

.adjustable-elements-5cols .col > div .title-wrapper {
    font-weight: bold;
    font-size: 24px;
}

.adjustable-elements-5cols .col > div .content-wrapper,
.adjustable-elements-5cols .col > div .content-wrapper * {
    font-size: 18px;
    line-height: 1.3;
}

.adjustable-elements-5cols .col > div .content-wrapper strong {
    font-weight: bold;
    display: inline-block;
}

.btn-primary {
    border: 2px solid #fff;
    padding: 15px 60px;
    font-size: 24px;
    color: #FFF;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn-primary:hover {
    color: #fb893a;
    border-color: #fb893a;
}

nav.main-top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(127, 119, 115, 0.98);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

nav.main-top-navigation .primary-menu a {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

nav.main-top-navigation.small-top-menu .primary-menu a {
    font-size: 15px;
}

nav.main-top-navigation.small-top-menu {
    height: 70px;
}

nav.main-top-navigation.small-top-menu .custom-logo-link img {
    padding-top: 7px;
    padding-bottom: 7px;
}

nav.small-top-menu .primary-menu > li > a,
nav.small-top-menu .custom-logo-link {
    height: 100%;
    line-height: 70px;
    padding-top: 0px;
}

.custom-logo-link {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.site-main {
    position: relative;
}

.front-page-top-indent {
    padding-top: 130vh;
}

.intro-content {
    position: relative;
    z-index: 3;
}

.front-page-content {
    background-color: rgba(127, 119, 115, 1);
    padding-top: 20px;
    position: relative;
}

.front-page-content .entry-content {
    z-index: 3;
    position: relative;
}

.article-title {
    padding: 30px 20px 0;
}

.front-page-action-button-down {
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.middle-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
    z-index: 0;
    width: 100%;
}

.steps-wrapper {
    position: relative;
    height: 60px;
}

.steps {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.hidden {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    visibility: hidden;
    bottom: -200px;
}

.visible {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

/* Solutions */

.article-top-margin {
    margin-top: 125px;
}

.solution-main-image-wrapper {
    text-align: center;
}

.solution-main-image {
    max-height: 135px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.solution-main-white-text {
    margin: 0;
    line-height: 1;
}

.solution-main-orange-text {
    margin: 5px auto 00px;
    text-align: center;
    font-size: 23px;
    max-width: 992px;
}

.solutions-page-content h1 {
    margin-bottom: 0;
}

.solutions-page-content h1 + p {
    margin-top: 10px;
}

.block-icons-img {
}

.block-icons-img img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.block-icons {
    padding: 30px;
    position: relative;
}

.block-icons-title {
    color: #000;
    text-transform: uppercase;
}

.block-icons-1 {
    background-color: #fb893a;
    padding: 30px;
}

.block-icons-2 {
    background-color: #fff;
    padding: 5%;
}

.block-icons .icons-container {
    position: relative;
    padding-bottom: 100%;
}

.block-icons .icon-wrapper {
    width: 20%;
    position: absolute;
    text-align: center;
}

.block-icons .icon-title {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    /*height: 6em;*/
    color: #000;
    font-weight: bold;
    font-family: GlacialIndifference-bold;
}

/* Icons Adjustments */

.block-icons-1 .icon-wrapper:nth-child(1) {
    top: 0;
    left: 0;
}

.block-icons-1 .icon-wrapper:nth-child(2) {
    left: 0;
    bottom: 0;
}

.block-icons-1 .icon-wrapper:nth-child(3) {
    right: 0;
    top: 0;
}

.block-icons-1 .icon-wrapper:nth-child(4) {
    right: 0;
    bottom: 0;
}

.block-icons-1 .icon-wrapper:nth-child(5) {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-icons-2 .icon-wrapper:nth-child(1) {
    top: 0;
    left: 0;
}

.block-icons-2 .icon-wrapper:nth-child(2) {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block-icons-2 .icon-wrapper:nth-child(3) {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-icons-2 .icon-wrapper:nth-child(4) {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-icons-2 .icon-wrapper:nth-child(5) {
    left: 33%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-icons-2 .icon-wrapper:nth-child(6) {
    right: 33%;
    bottom: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.block-icons-2 .icon-wrapper:nth-child(7) {
    top: 0;
    right: 0;
}

.block-icons-2 .icon-wrapper:nth-child(8) {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Arrow bottom */

.block-icons:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.block-icons:first-child:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fb893a;
    border-width: 30px;
    margin-left: -30px;
}

.block-icons:first-child:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #fb893a;
    border-width: 36px;
    margin-left: -36px;
}

.block-icons:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #FFF;
    border-width: 30px;
    margin-left: -30px;
}

.block-icons:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #FFF;
    border-width: 36px;
    margin-left: -36px;
}

.image-with-bg {
    position: relative;
    margin-top: -20px;
    padding-left: 6%;
    padding-right: 10%;
}

.image-with-bg img {
    display: block;
    width: 100%;
    max-height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(127, 119, 115, 0.63);
}

.full-width-black {
    background-color: #404039;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -30px;
    position: relative;
}

.full-width-black p {
    padding: 0;
    margin: 0;
}

.big-title {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0;
    display: block;
}

.flex-row-distribute.what-can-we-do-icons {
    align-items: flex-end;
}

.what-can-we-do-icons {
    text-align: center;
    font-weight: bold;
    font-family: GlacialIndifference-bold;
}

.what-can-we-do-icons p {
    margin: 0;
    padding: 0;
}

.what-can-we-do-icons .icon-wrapper .icon-img {
    max-width: 7em;
    text-align: center;
    width: 100%;
    margin: 0 auto;;
}

.what-can-we-do-icons .icon-wrapper .icon-title {
    color: #fb893a;
    margin-top: 0.1em;
    font-size: 2em;
    margin-bottom: 0.6em;
}

.what-can-we-do-icons .icon-wrapper .icon-title a {
    color: #fb893a;
}

.what-can-we-do-icons .icon-wrapper .icon-btn {
    border: 0.1em solid #FFF;
    font-size: 2em;
    padding: .3em 1em;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
    width: auto;
    display: inline-block;
    color: #fff;
}

.what-can-we-do-icons .icon-wrapper .icon-btn:hover {
    border-color: #fb893a;
    color: #fb893a;
}

.full-width-grey {
    background-color: #807874;
}

.full-width-grey h3 {
    padding: 30px 0 10px;
}

.circles-above > * {
    position: relative;
    font-size: 24px;
    text-align: center;
    padding: 41px 2% 20px !important;
    line-height: 1.3;
}

.circles-above > *:before {
    content: ' ';
    width: 1em;
    height: 1em;
    border: 0.33em solid #fb893a;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.constellation-grey-wrapper {
    position: fixed;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

/* Mission */
.hide-footer {
    bottom: -500px;
    z-index: 99;
}

.page-template-mission canvas {
    top: -10px;
}

.show-footer {
    bottom: 0;
    z-index: 99;
}

/* Optimization */
.optimization-icons.row {
    padding-top: 25px;
    margin-bottom: 0;
}

.optimization-icons .icon-wrapper {
    padding: 1%;
}

.optimization-icons .icon-img {
    width: 28%;
    margin: 0 auto;
    /*min-height: 100px;*/
    margin-bottom: -7px;
}

.optimization-icons .icon-wrapper:first-child .icon-img {
    width: 24%;
}

.optimization-icons .icon-title {
    color: #fb893a;
    font-weight: bold;
    font-family: GlacialIndifference-bold;
    font-size: 24px;
    min-height: 3em;
    width: 80%;
    text-align: center;
    margin: 5px auto 0;
}

.optimization-icons .icon-content {
    color: #FFF;
    font-size: 16px;
    line-height: 1.3;
}

.optimization-content {
    padding: 0px 0 60px;
    text-align: center;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.post-blocks {
    padding-top: 0px;
    padding-bottom: 50px;
}

.post-blocks > * {
    overflow: hidden;
    margin-left: 0 !important;
}

.post-blocks .post-wrapper {
    position: relative;
    padding: 30px;
}

.post-blocks .post-wrapper img {
    width: 100%;
    max-height: 100%;
}

.post-blocks .post-popup-button {
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-family: GlacialIndifference-bold;
    color: #FFF;
}

.post-blocks .post-popup-button .post-block-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
}

.post-blocks .post-popup-button .post-block-description {
    font-size: 32px;
    font-family: GlacialIndifference-regular;
    font-weight: 300;
    line-height: 1.2;
}

.type-wrapper, .research_objectives_title {
    display: inline-block;
    font-family: GlacialIndifference-bold;
    font-size: 24px;
    margin-top: 10px;
}

.type-wrapper img {
    float: right;
    height: 1.2em;
    margin-left: 10px;
}

.post-title {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: #fb893a;
    font-family: GlacialIndifference-regular;
}

.reserch-objective-title {
    margin-top: 10px;
}

.post-title + hr {
    margin-bottom: 10px;
}

.reserch-objective-title {
    font-size: 42px;
    line-height: 1.1;
}

.research-objective-content.row {
    margin-bottom: 0;
}

.research-objective-content ul {
    margin-top: 0;
}

.research-objective-content ul li {
    position: relative;
    margin-left: 20px;
    font-size: 22px;
    padding-bottom: 5px;
    line-height: 1.3;
}

.research-objective-content ul li:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0.55em;
    width: 0.4em;
    height: 0.4em;
    background: #FFF;
    border-radius: 50%;
}

.row .col.research-objectives-right-part {
}

.left-image-text img {
    height: 2.0em;
    display: inline-block;
    margin-right: 1em;
}

.left-image-text {
    line-height: 1em;
    float: left;
    margin: 5px 10px;
    vertical-align: middle;
    display: inline-block;
    font-size: 22px;
    width: calc(100% - 3em);

}

.case-study-top-margin {
    margin-top: 125px;
}

.post-slider {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.post-slider hr {
    margin-left: -60px;
    margin-right: -60px;
}

.post-title a.arrow i {
    font-size: 1em;
    line-height: 0.78;
    -webkit-transition: all .2s ease-out !important;
    transition: all .2s ease-out !important;
    margin-left: -7px;
}

.post-title a.arrow.right i {
    margin-left: -4px;
}

.post-title a.arrow:hover {
    color: #fb893a;
    -webkit-transition: all .2s ease-out !important;
    transition: all .2s ease-out !important;
    border-color: #fb893a;
}

.post-title a.arrow:hover i {
    -webkit-transition: all .4s ease-out !important;
    transition: all .4s ease-out !important;
    color: #fb893a;
}

.post-title a.arrow {
    -webkit-transition: all .2s ease-out !important;
    transition: all .2s ease-out !important;
    margin-bottom: -5px;
    margin-left: -1.1em;
    margin-top: 3px;
    display: inline-block;
    font-size: 50px;
    width: 0.8em;
    height: 0.8em;
    padding: 0;
    line-height: 0.7;
    border-radius: 50%;
    color: #FFF;
    border: 2px solid #FFF;
}

.post-title a.arrow.right {
    margin-right: -1.1em;
}

.white-element {
    padding: 30px;
}

.white-element img {
    max-height: 100%;
    width: 100%;
}

.white-full-width {
    background-color: #fff;
    color: #404039;
    line-height: 1.25;
    padding-bottom: 20px;
    margin-bottom: -30px;
}

.white-row.row {
    margin-left: -30px;
    margin-right: -30px;
}

.white-element .white-element-title {
    margin-top: .5em;
    margin-bottom: 0.2em;
    font-size: 22px;
    font-weight: bold;
    font-family: GlacialIndifference-bold;
    text-transform: uppercase;
    min-height: 2.5em;
}

.white-element .white-element-description {
    font-size: 22px;
    font-weight: bold;
    font-family: GlacialIndifference-bold;
}

.white-element .white-element-content {
    font-size: 22px;
    line-height: 1.3;
    font-family: GlacialIndifference-regular;
}

.white-element .white-element-content ul > li {
    position: relative;
    padding-left: 32px;
    margin-bottom: 10px;
}

.white-element .white-element-content ul > li:before {
    content: "";
    position: absolute;
    left: 5px;
    top: .44em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #404039;;
}

/* News*/
.post-excerpt {
    padding-left: 30px !important;
}

.post-excerpt .date {
    font-size: 20px;
}

.post-excerpt .entry-title {
    text-align: left;
}

.post-excerpt .entry-title a {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    font-family: GlacialIndifference-regular;
}

.blog article {
    margin-bottom: 50px;
}

.entry-content .more-link {
    display: none;
}

.navigation.post-navigation .screen-reader-text {
    display: none;
}

.nav-links a .meta-nav {
    font-size: 24px;
}

.nav-links a .post-title {
    font-size: 16px;
    font-weight: 300;
    font-family: GlacialIndifference-regular;
}

.nav-links a {
    display: inline-block;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nav-links .nav-next a {
    float: right;
}

.nav-links .nav-previous a .meta-nav {
    margin-right: 20px;
}

.nav-links .nav-next a .meta-nav {
    float: right;
    margin-left: 20px;
}

.nav-links .nav-previous a {
    float: left;
}
/* Single News*/
.single-post-title{
    font-family: GlacialIndifference-regular;
    text-transform: none;
    font-size: 48px;
    text-align:left;
    margin-top: -7px;
    margin-bottom: 20px;
}
.single-post-news .entry-content  p,
.single-post-news .entry-content {
    font-size: 21px;
}
.single-post-news hr{
    border: none;
    border-top: 2px solid #afb1b3;
    margin-top: 10px;
    margin-bottom: 35px;
}
.date-single-post{
    color: #e1e1e1;
    font-size: 21px;
}
.single-post-news hr.single-post-hr-bottom{
    margin-top: 40px;
    margin-bottom: 10px;
}
.meta-nav i{
    display: inline-block;
    height: auto;
    font-size: 1.5em;
    float: left;
    line-height: 0.9;
    margin-right: 10px;
}
.meta-nav i.fa-angle-right {
float: right;
    margin-right: 0;
    margin-left: 10px;
}
.single-post-thumbnail{
    margin-bottom: 20px;
}
/*  Contact page*/

.contact-page-bg {
    padding-left: 0;
    padding-right: 0;
    margin-top: -160px;
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.contact-page-bg .overlay {
    opacity: .3;
}

.page-template-contact .scroll-block {
    padding-bottom: 0;
}

.page-template-contact .site-main {
    z-index: 1;
}

/* Helpers*/
.flex-row-distribute > * {
    position: relative;
}

.flex-row-distribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-row-center {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /*-webkit-box-pack: center;*/
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

}

.flex-row-center > * {
    /*margin: 0 auto;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*display: inline-block;*/
    float: none;
    /*-webkit-box-flex: 1; !* OLD - iOS 6-, Safari 3.1-6 *!*/
    /*-moz-box-flex: 1; !* OLD - Firefox 19- *!*/
    /*width: 20%;               !* For old syntax, otherwise collapses. *!*/
    /*-webkit-flex: 1; !* Chrome *!*/
    /*-ms-flex: 1; !* IE 10 *!*/
    /*flex: 1;*/
}

.flex-row-flow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-row-vcenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.lighter {
    font-weight: lighter;
}

.center {
    text-align: center;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.white-color *, .white-color {
    color: #fff !important;
}

ul#nav-mobile.side-nav {
    background-color: #7f7773;
    width: 200px;
    padding-top: 50px;
}

ul#nav-mobile li {
    display: block;
    float: left;
    width: 100%;
    height: auto;
}

ul#nav-mobile li a {
    line-height: 1.5;
    height: auto;
    font-size: 20px;
    text-align: left;
    color: #FFF;
}

ul#nav-mobile li.current-menu-item > a {
    color: #fb893a;
}

ul#nav-mobile .sub-menu {
    visibility: visible;
    box-shadow: none;
    position: static;
    opacity: 1;
    width: auto;
    -webkit-transform: none;
    transform: none;
    border: none;
    background-color: transparent;
    padding-left: 15px;

}

ul#nav-mobile .sub-menu:after,
ul#nav-mobile .sub-menu:before {
    display: none;
}

nav .button-collapse {
    float: right;
    color: #fff;
}

.single-post article img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.single-post article a {
    color: #fb893a;
}

.page-template-contact #primary {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
}

.post-thumbnail img {
    width: 100%;
    height: auto;
}

/* Contact*/
.page-template-contact article {
    margin-top: 130px;
}

/* Privacy */
.white-color li {
    font-size: 20px;
    padding-left: 20px;
    position: relative;
}

.white-color li:before {
    content: ' ';
    width: 0.3em;
    height: 0.3em;
    position: absolute;
    left: 3px;
    top: 0.6em;
    background-color: #fff;
    border-radius: 50%;
}

nav a.button-collapse i {
    height: 2.1em;
    line-height: 2.1em;
    font-size: 40px;
}

nav.small-top-menu a.button-collapse i {
    height: 1.7em;
    line-height: 1.7em;
}

.constellation-wrapper .constellation-title {
    text-align: center;
    font-family: GlacialIndifference-bold;
    font-weight: bold;
    font-size: 90px;
    color: #fff;
    z-index: 3;
    position: relative;
    display: none;
    width: 80%;
}

.constellation-title-img {
    max-width: 700px;
    width: 100%;
    padding: 0 15px;
    position: relative;
    z-index: 3;
    margin: 30px 0;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #ffffff;
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 1369px) {
    .constellation-wrapper .constellation-title {
        display: block;
    }

    .constellation-title-img {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .adjustable-elements-5cols .col > div .content-wrapper,
    .adjustable-elements-5cols .col > div .content-wrapper * {
        font-size: 16px;
    }

    .optimization-icons .icon-title {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .adjustable-elements-4cols .col > div .content-wrapper,
    .adjustable-elements-4cols .col > div .content-wrapper * {
        /*column-count: 2;*/
    }

    .what-can-we-do-icons {
        font-size: 12px;
    }

    .optimization-icons .icon-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .adjustable-elements-5cols .col > div .content-wrapper,
    .adjustable-elements-5cols .col > div .content-wrapper * {
        font-size: 12px;
    }

    .post-excerpt {
        padding-left: 30px !important;
    }

    .optimization-icons .icon-title {
        font-size: 12px;
        margin-top: 5px;
    }

    .optimization-icons .icon-content {
        font-size: 11px;
    }

    .constellation-wrapper .constellation-title {
        display: block;
    }

    .constellation-title-img {
        display: none;
    }

    .what-can-we-do-icons {
        font-size: 9px;
    }

    .adjustable-elements-3cols {
        display: block;
    }

    .adjustable-elements-4cols .col > div .content-wrapper, .adjustable-elements-4cols .col > div .content-wrapper * {
        font-size: 18px;
        color: #f2f2f2;
    }
}

@media screen and (max-width: 720px) {
    .adjustable-elements-5cols .col > div .letter-wrapper {
        font-size: 60px;
    }

    .adjustable-elements-5cols .col > div .title-wrapper {
        font-size: 12px;
    }

    .adjustable-elements-5cols .col > div .content-wrapper,
    .adjustable-elements-5cols .col > div .content-wrapper * {
        font-size: 8px;
    }

    .what-can-we-do-icons {
        display: block;
    }

    .what-can-we-do-icons .icon-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .contact-title {
        font-size: 32px;
    }

    .post-slider {
        padding-left: 20px;
        padding-right: 20px;
    }

    .post-title {
        font-size: 28px;
        text-align: center;
    }

    .post-title a.arrow {
        margin-top: -1px;
        font-size: 37px;
        margin-left: -.8em;
    }

    .post-title a.arrow.right {
        margin-right: -.8em;
    }

    .reserch-objective-title {
        font-size: 32px;
    }

    .page-footer .row {
        margin-bottom: 0;
    }

    .social-icons {
        text-align: center;
    }

    .line-above {
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
    }
}

@media screen and (max-width: 500px) {
    .page-template-solutions canvas {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .adjustable-elements-5cols .col > div .content-wrapper,
    .adjustable-elements-5cols .col > div .content-wrapper * {
        display: none;
        font-size: 7px;
    }

    .adjustable-elements.adjustable-elements-5cols {
        margin-top: 100px;
    }

    .adjustable-elements.adjustable-elements-5cols > .col {
        padding: 0;
    }

    .left-image-text {
        font-size: 18px;
    }

    .intro-content {
        font-size: 20px;
        padding: 0 15px;
    }

    .constellation-wrapper {
        padding-top: 5px;
    }

    .constellation-title-img {
        margin: 0;
    }

    .constellation-wrapper .constellation-title {
        font-size: 47px;
        margin: 10px auto 0;
        position: relative;
    }

    .front-page-intro {
        /*max-height: 210px;*/
        bottom: 270px;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .home.page h4.intro-orange-text {
        font-size: 21px;
    }
}

@media screen and (max-height: 420px) {
    ul#nav-mobile.side-nav {
        padding-top: 10px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) {
    .constellation-wrapper .constellation-title {
        font-size: 60px;
        margin: 0;
        padding: 0;
    }

    .intro-content {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .home.page h4.intro-orange-text {
        font-size: 18px;
    }

    .front-page-intro {
        bottom: 140px;
    }
}

@media screen and (orientation: landscape) and (max-height: 340px) {
    .constellation-wrapper .constellation-title {
        font-size: 36px;
    }

    .intro-content {
        font-size: 18px;
    }

    .home.page h4.intro-orange-text {
        font-size: 14px;
    }

    .front-page-intro {
        bottom: 108px;
    }
}