/*
Theme Name: Avata
Theme URI: https://www.hoothemes.com/themes/avata.html
Author: HooThemes
Author URI: http://www.hoothemes.com/
Description: Based on Bootstrap and coded with HTML5 and CSS3 language, Avata is fully responsive in desktops and mobile devices. With enriched settings , you can easily create a homepage with pre-built layout. background colors, header & footer and logo are also customizable. 
Version: 1.1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: avata
Tags: one-column, two-columns, right-sidebar, left-sidebar, sticky-post, theme-options, custom-background, custom-menu, editor-style, featured-images, threaded-comments, translation-ready

Avata Wordpress Theme has been created by Hoothemes.com, Copyright 2016 Hoothemes.com
Avata Wordpress theme is released under the terms of GNU GPL.

*/


body {
    color: #333;
    font-size: 16px;
	font-size: 1.1rem;
    font-family: 'Rokkitt', serif;
}
h1,
h2,
h3,
h4,
h5,
h6{ 
    color: #333;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 22px;
	margin-bottom: 15px;
}
h2{
	font-size: 18px;
    margin-bottom: 15px;
}
h3{
	font-size: 16px;
	margin-bottom: 10px;
}
h4{
	font-size: 14px;
	margin-bottom: 10px;
}
h5{
	font-size: 12px;
	margin-bottom: 10px;
}
h6{
	font-size: 10px;
	margin-bottom:10px;
}

p{
    margin-bottom: 15px;
    line-height: 20px;
	line-height: 1.5rem;
}
* p:last-child{margin-bottom: 0 !important;}
a{
    color: #267db2;
    text-decoration: none;
    -webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.title a{
    color: #333333;
    font-weight: 600;
    font-size: 12px;
}
.more:hover, a:hover .more {
    color: #8e5999;
}
a:hover {
    text-decoration: none;
    color: #d54e21;
}

input, button, select, textarea ,img{
	max-width:100%;
	}
img{
	height:auto;
	}
* {
    box-sizing: border-box;
}
/**
 * Accessibility
 */

/* Text meant only for screen readers */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
	
/**
 * Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}


/**
 * Clearings
 */

.clear:before,
.clear:after,
.site:before,
.site:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.nav-links:before,
.nav-links:after,
.comment-navigation:before,
.comment-navigation:after,
.social-navigation ul:before,
.social-navigation ul:after,
.textwidget:before,
.textwidget:after {
	content: "";
	display: table;
}

.clear:after,
.site:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.nav-links:after,
.comment-navigation:after,
.social-navigation ul:after,
.textwidget:after {
	clear: both;
}

/**
 * Captions
 */

.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption-text {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}

/**
 * top line
 */
#top-line{
    padding: 5px 0;
    background-color: #3C3C3C;
}
#top-line li{
    float: left;
    list-style: none;
}
#top-line a{
    color: #D0D0D0;
    font-size: 12px;
    letter-spacing: 0.04em;
} 
#top-line a:hover{opacity: 0.8;}
#top-line .top-menu li{margin-right: 10px;}
#top-line a{
    padding-right: 10px;
    border-right: 1px dotted #666666;
}
#top-line .last{
    padding-right: 0;
    border-right: none;
}
#top-line .top-social{float: right;}
#top-line .top-social li{
    margin-left: 10px;
    list-style: none;
}
#top-line .top-social a{padding-left: 24px;}

/**
 * header
 */

#header{
    border-bottom: 1px solid #efefef;
    position: relative;
    background-color: #fff;
	width: 100%;
    z-index: 999;
}
#header.header-overlay{
	position:absolute;
	background:transparent;
	border-bottom:none;
	}
#header.header-overlay,
#header.header-overlay #menu-main > li > a,
#header.header-overlay h1,
#header.header-overlay .site-tagline{
	color:#fff;
	}

.site-name{
	margin-bottom: 5px;
	font-size: 22px;
	}
span.site-name{
	display:inherit;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
	}
img.custom-logo {
    float: left;
}
.custom-logo {
    margin: 10px 18px 10px 0;
}
.logo-box {
    float: left;
    text-align: left;
}
.name-box {
    float: left;
    margin: 10px 0;
}
/*= MAIN MENU =*/
.site-nav{
	float:right;
	}
.main-nav, .main-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-nav li {
	position: relative;
}
.main-nav ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.main-nav > li {
	float: left;
}
.main-nav li:hover > ul,
.main-nav li.sfHover > ul {
	display: block;
}

.main-nav a {
	display: block;
	position: relative;
}
.main-nav ul ul {
	top: 0;
	left: 100%;
}

.main-nav {
	float: left;
}
.main-nav ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; 
	*width: 12em; 
	background: #fff;
	border-radius:5px;
}
.main-nav a {
	padding: .75em 2em .75em 0;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.main-nav > li{
        list-style: none;
        float: left;
        position: relative;
       padding: 12px 0px 12px 0;
    }
	
	
.main-nav > li > a{
        font-size: 12px;
        font-weight: 400;
        color: #333;
        display: block;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
    }
.main-nav li a:hover{color: #d54e21;}
.main-nav .current,.main-nav .current_page_item a {color: #d54e21;}

.main-nav ul a{
        display: block;
        padding: 5px 0px;
        color: #333;
        font-family: 'Droid Sans', sans-serif;
        font-size: 12px;

    }
	
.main-nav li {
	
	white-space: nowrap; 
	*white-space: normal; 
	-webkit-transition: background .2s;
	transition: background .2s;
}
.main-nav li:hover,
.main-nav li.sfHover {
	-webkit-transition: none;
	transition: none;
}

.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #dFeEFF; 
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white;
}
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; 
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

.main-nav ul li {
   list-style: none;
   padding: 5px 25px;
   position: relative;
   border-bottom: 1px solid #f2f2f2;
    }
.main-nav ul li:last-child{
	border-bottom:none;
	}	
.site-nav {
    display: none;
}
@media screen and (max-width: 920px){
.sf-arrows .sf-with-ul:after{
	border: none;
	}

}
	
/**
 * page  content
 */


.container{position: relative;}
#content{
    border-top: 1px solid #efefef;
    position: relative;
    margin-bottom: 60px; 
}
#content .content-area{
	padding-top: 50px;
	padding-bottom: 50px;
	}
.site-main img {
    padding: 2px;
    border: 1px solid #e5e5e5;
}

/**
 * BLOG
 */


.blog-post{
	border-bottom: 1px solid #ececec;
	padding-bottom:50px;
	margin-bottom:50px;
	}
.blog-post h2.entry-title{
	margin-bottom: 10px;
	}
.blog-post h2.entry-title a{
	line-height: 25px;
	}

.blog-post img {
	margin-bottom: 30px;
	display: block;
}

.entry-meta .meta{
	padding-bottom: 5px;
	border-bottom: 1px dotted #f2f2f2;
	margin-bottom: 15px;
	padding-left:0;
}
.entry-meta .meta li{
	list-style: none;
	font-size:12px;
	margin-right: 10px;
	float: left;
	letter-spacing: 0.03em;
}
.entry-meta .meta li i{
	padding-right:5px;
}

	

.post-pagination li a:hover {
	border-color: #963;
}

.paging-navigation {
	text-align: center;
}

.paging-navigation ul {
	margin: 10px 0;
}

.paging-navigation li {
	list-style-type: none;
	display: inline-block;
}

.paging-navigation i,
.paging-navigation span,
.paging-navigation a {
	display: inline-block;
	min-width: 2em;
	height: 2em;
	line-height: 2em;
}

.post-pagination a,
.paging-navigation a {
	color: #a0a0a0;
}

.post-pagination a:hover,
.paging-navigation a:hover {
	color: #963;
}

.page-numbers {
    padding: 0 5px;
}
.sticky-post {
	background-color: #333;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.04em;
	padding: 0.25em 0.5em;
	position: absolute;
	top: 0;
	text-transform: uppercase;
}

.updated:not(.published) {
	display: none;
}

.sticky .posted-on {
	display: none;
}

/*
 * Comments
 */
 .avata-comments-area{
	 padding:50px 0;
	 }
.respondbg{
	padding-top:50px;
	}
ul.comments-list {
	margin-left: 0;
}

.comments-list li {
	list-style-type:none;
}

.media-comment {
	margin-top: 30px;
	position: relative;
	overflow: visible;
	width: 100%;
	display: table!important;
}

.media-avatar {
	width: 80px;
	min-width: 80px;
}

.media-comment .media-heading {
	font-size: 14px;
}

.form-control,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
}

.form-control:focus,
select:focus,
input:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #3da07b;
    box-shadow: none;
}

.comment-reply-link {
	font-size: .8em;
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	color: #fff;
	background-color: #3da07b;
	line-height: 1;
	padding: .9em 1.6em;
	border-radius: 0;
	border-width: 0;
	border-style: solid;
}
/*
 * Gallery
 */

.gallery {
	margin-bottom: 1.6em;
}

.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	display: block;
	margin-top: 10px;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/**
 * Genericons
 */

.social-navigation a:before,
.secondary-toggle:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.comment-navigation .nav-next a:after,
.comment-navigation .nav-previous a:before,
.posted-on:before,
.byline:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.entry-format:before,
.edit-link:before,
.full-size-link:before,
.pagination .prev:before,
.pagination .next:before,
.image-navigation a:before,
.image-navigation a:after,
.format-link .entry-title a:after,
.entry-content .more-link:after,
.entry-summary .more-link:after,
.author-link:after {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


/*
 * sidebar layout
 */

.right-aside .col-aside-left {
	display: none;
}

.left-aside .col-aside-right {
	display: none;
}

.no-aside .col-aside-left,
.no-aside .col-aside-right {
	display: none;
}

.col-main,
.col-aside-left,
.col-aside-right {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media screen and (min-width: 992px) {
	.col-main,
	.col-aside-left,
	.col-aside-right {
		float: left;
		padding-top: 0;
		padding-bottom: 0;
	}
	.no-aside .col-main {
		width: 100%;
	}
	.left-aside .col-main,
	.right-aside .col-main {
		width: 75%;
	}
	.both-aside .col-main {
		width: 60%;
	}
	.left-aside .col-aside-left,
	.right-aside .col-aside-right {
		width: 25%;
	}
	.both-aside .col-aside-left {
		width: 20%;
	}
	.both-aside .col-aside-right {
		width: 20%;
	}
	.left-aside .col-main {
		left: 25%; /*.left-aside .col-aside-left width*/
	}
	.left-aside .col-aside-left {
		right: 75%; /*.left-aside .col-aside-main width*/
	}
	.both-aside .col-main {
		left: 20%; /*.both-aside .col-aside-left width*/
	}
	.both-aside .col-aside-left {
		right: 60%; /*.both-aside .col-aside-main width*/
	}
}

/*
 * Sidebar
 */
#sidebar{
	font-size: 14px;
	overflow:hidden;
	}
#sidebar h4,
#footer h4{
  font-size: 15px;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding-right: 15px;
}
#footer h4{
	color: #e2e2e2;
	background:none;
	 font-size: 22px;
	}
#footer .seperator,
#sidebar .seperator{
	clear:both;
	}
#sidebar .widget-box,
#sidebar .widget,
#footer .widget-box,
#footer .widget{
   margin-bottom: 50px;
}
#sidebar .widget-box > ul,
#footer .widget-box > ul{
	padding-left:0;
	
	}
#sidebar ul,
#footer ul{
  *zoom: 1;
  list-style:none;
}

#sidebar ul:before,
#sidebar ul:after,
#footer ul:before,
#footer ul:after{
  display: table;
  content: "";
}

#sidebar ul:after ,
#footer ul:after{
  clear: both;
}

.title-divider {
    margin-bottom: 30px;
    position: relative;
}


/*
 * divider
 */
.divider-arrow {
    top: 7px;
    width: 100%;
    position: absolute;
}
.divider-arrow, hr, .divider{
	height: 1px;
	clear: both;
	border-bottom: 1px solid #ececec;
}
#footer .divider-arrow{
	top:inherit !important;
	bottom:0;
	}

#sidebar .title-divider{
	margin-bottom: 10px ;
	}
	
#sidebar .divider-arrow,
#footer .divider-arrow{
	top: 10px ;
	}

#sidebar li,
#footer li{
  list-style: none;
  padding-bottom: 13px;
  margin-bottom: 13px;
  border-bottom: 1px dotted #f2f2f2;
} 
#sidebar li.page_item_has_children,
#sidebar li.menu-item-has-children,
#sidebar li.item-has-children,
#footer li.page_item_has_children,
#footer li.menu-item-has-children,
#footer li.item-has-children{
	border-bottom:none;
	margin-bottom: 0;
    padding-bottom: 0;
	}
#sidebar section{margin-bottom: 50px;}
#sidebar section:last-child,#footer section:last-child{margin-bottom:0px;}


#sidebar .widget_archive ul li,
#footer .widget_archive ul li{
  float: left;
  width: 40.13157894736842%;
  margin-right: 09.86842105263158%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #f2f2f2;
}

/* Calender */
#wp-calendar {width: 100%;}
#wp-calendar caption {
	color: #333;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: center;
}
#wp-calendar tbody {color: #aaa;}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad ,
footer #wp-calendar tbody .pad{
	background: none;
	border:0 none;
}
#wp-calendar tfoot #next {text-align: right;}
footer #wp-calendar tbody td { background:#333; border-color:#555;}
footer #wp-calendar caption { color:#FFF; }
#wp-calendar #today {
     background: #999;
    color: #fff;
}

/*
 * post widget
 */
.post-widget img{
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.post-widget .img{
  display: block;
  margin-bottom: 0;
  line-height: normal;}

.post-widget a{
  font-size:1em;
  line-height: 18px;
  margin-bottom: 7px;}
.post-widget p{
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 0.02em
}
.post-widget li:last-child{margin-bottom: 0 !important;}



/*
 * tagcloud
 */
.tagcloud a{
  color: #888;
  font-size: 12px !important;
  letter-spacing: 0.02em;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  display: inline-block;
  border: 1px solid #e8e8e8;
}

.tagcloud a:hover{
  color: #fff;
  border-color: #ffa071;
  background-color: #ffaf88;
}
    
    
 /*= COMMENT SIDEBAR =*/
.comment-sidebar li:last-child{margin-bottom: 0 !important;}

/*
 * button
 */

.btn-normal {
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	color: #fff;
	background-color: #3da07b;
	line-height: 1;
	padding: .6em 1.2em;
	border-radius: 0;
	border-width: 0;
	border-style: solid;
}

.btn-normal:hover,
.btn-normal:active,
.btn-normal:focus {
	background-color: #f6cc00;
	color: #fff;
}

.btn,.navigation-page_button,.contact .hbspt-form .hs-button {
	display:inline-block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding:1rem 1.5rem;
	font-size:1rem;
	line-height:1em;
	font-weight:600;
	letter-spacing:0.01em;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	vertical-align:middle;
	cursor:pointer;
	border:0;
	border-radius:3px;
	background:#3da07b;
	-webkit-transition:background-color 0.25s;
	transition:background-color 0.25s
}
.btn:hover,.navigation-page_button:hover,.contact .hbspt-form .hs-button:hover {
	background:#2f7b5f;
	color:#fff
}
.btn-sm {
	padding: 0 1rem;
    font-size: 0.8rem;
    line-height: 2.2rem;
}
@media (min-width:1200px) {
	.btn-lg {
	padding:1.2rem 2rem 1rem;
	font-size:1.4rem;
	line-height:1em
}
}
.btn-inverse {
	color:#3da07b;
	background:transparent
}
.btn-inverse:hover {
	color:#3da07b
}
.btn-grey {
	color:#3da07b;
	background:#f3f3f4
}
.btn-grey:hover {
	color:#3da07b;
	background:#fff
}
.btn-purple,.contact .hbspt-form .hs-button {
	color:#fff;
	background:#723080
}
.btn-purple:hover,.contact .hbspt-form .hs-button:hover {
	background:#51225b
}
.btn-fill,.btn-block {
	display:block;
	padding-left:0;
	padding-right:0;
	width:100%
}
.btn-bordered {
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
	background:transparent;
	-webkit-transition:box-shadow 0.25s;
	transition:box-shadow 0.25s
}
@media (min-width:992px) {
	.btn-bordered {
	box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5)
}
}
.btn-bordered .btn-sm {
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.25)
}
.btn-bordered .btn-lg {
	box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5)
}
@media (min-width:1200px) {
	.btn-bordered .btn-lg {
	box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5)
}
}
.btn-bordered.btn-inverse {
	box-shadow:inset 0 0 0 1px rgba(61,160,123,0.5)
}
@media (min-width:992px) {
	.btn-bordered.btn-inverse {
	box-shadow:inset 0 0 0 2px rgba(61,160,123,0.5)
}
}
.btn-bordered.btn-inverse.btn-lg {
	box-shadow:inset 0 0 0 1px rgba(61,160,123,0.5)
}
@media (min-width:992px) {
	.btn-bordered.btn-inverse.btn-lg {
	box-shadow:inset 0 0 0 2px rgba(61,160,123,0.5)
}
}
.btn-bordered.btn-inverse:hover {
	color:#3da07b;
	box-shadow:inset 0 0 0 1px #3da07b
}
@media (min-width:992px) {
	.btn-bordered.btn-inverse:hover {
	box-shadow:inset 0 0 0 2px #3da07b
}
}
.btn-bordered:hover {
	box-shadow:inset 0 0 0 1px;
	color:#fff;
	background:none
}
@media (min-width:992px) {
	.btn-bordered:hover {
	box-shadow:inset 0 0 0 2px
}
}
.btn-lg .btn-bordered:hover {
	box-shadow:inset 0 0 0 1px
}
@media (min-width:992px) {
	.btn-lg .btn-bordered:hover {
	box-shadow:inset 0 0 0 2px
}
}
.btn-bordered-thin {
	box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5)
}
.btn-bordered-thin:hover {
	box-shadow:inset 0 0 0 1px white
}
.btn-bordered.btn-purple,.contact .hbspt-form .btn-bordered.hs-button {
	color:#723080;
	box-shadow:inset 0 0 0 1px rgba(114,48,128,0.5)
}
.btn-bordered.btn-purple:hover,.contact .hbspt-form .btn-bordered.hs-button:hover {
	box-shadow:inset 0 0 0 1px #723080
}
@media (min-width:768px) {
	h1 .btn,h1 .navigation-page_button,h1 .contact .hbspt-form .hs-button,.contact .hbspt-form h1 .hs-button {
	margin-left:2rem
}
}
@media (min-width:992px) {
	h1 .btn,h1 .navigation-page_button,h1 .contact .hbspt-form .hs-button,.contact .hbspt-form h1 .hs-button {
	margin-left:4rem
}
}
.btn [class*="icon"],.navigation-page_button [class*="icon"],.contact .hbspt-form .hs-button [class*="icon"] {
	position:relative;
	top:0.2rem;
	margin-right:0.4rem
}
.btn-group .btn,.btn-group .navigation-page_button,.btn-group .contact .hbspt-form .hs-button,.contact .hbspt-form .btn-group .hs-button {
	margin-left:1.5rem;
	margin-right:1.5rem
}

/*
 * home page
 */
 
section .bottom-image img{
	position:absolute;
	bottom:0;
	}
.section-hero .bottom-image{
	position:relative;
	}
section{
	position:relative;
	}
.section-hero {
	background-color: #723080;

}
.section-hero .hero_content{
    display: table-cell;
    width: 100%;
    position: relative;
    overflow: hidden;
	vertical-align: middle;
}


@media (min-width: 992px){
.section-hero {
    min-height: 64rem;
}
.hero_title{
    line-height: 4rem;
}
.hero_subtitle,.hero_subtitle p {
    line-height: 3rem;
}
}


@media (min-width: 1200px){
.section-banner {
    min-height: 50rem;
    max-height: 64rem;
}
.hero_title {
    line-height: 4.3rem;
}
.hero_subtitle,.hero_subtitle p {
    line-height: 3.4rem;
}
}
@media (min-width: 992px){
.section-banner {
    min-height: 45rem;
    max-height: 65rem;
}
.hero_title {
    font-size: 3.275rem;
}
.hero_subtitle,.hero_subtitle p {
    font-size: 2.275rem;
}
}


.heading-lite, .heading-lite-centered, .blockquote-large, .blockquote-mid {
    font-size: 2.2rem;
    font-weight: 300;
}

.section-features .iconlist {
    padding: 0;
    list-style: none;
}
@media (min-width: 768px){

.section-hero {
    height: 68vh;
    min-height: 58rem;
}
.hero_title {
    line-height: 4.3rem;
}
.hero_subtitle ,.hero_subtitle p{
    line-height: 2.3rem;
}
.section-hero {
    min-height: 35rem;
    max-height: 55rem;
}
.hero_title {
    font-size: 3.275rem;
}
.hero_subtitle,.hero_subtitle p {
    font-size: 2.225rem;
}
.heading-lite, .heading-lite-centered, .blockquote-large, .blockquote-mid {
    font-size: 2.8rem;
    line-height: 3.4rem;
}
.section-features .iconlist {
    padding: 0 0 0 7rem;
}

.section-features .iconlist_icon {
    position: absolute;
    left: -7rem;
    top: 0.6rem;
}

.section-features .iconlist_icon {
    position: relative;
}
}

.section-features .iconlist_icon {
    position: absolute;
}

.section-features .iconlist li {
    position: relative;
    margin: 4rem auto 0;
}
.iconlist_icon i{
	font-size:57px;
	}
@media (min-width: 768px){
.section-features .iconlist li {
    margin: 0 auto 2rem;
}
}

.section-features .iconlist p,
.section-features-desc,
.section-features-desc p{
    line-height:1.7rem;
	font-size: 1.1rem;
}

@media screen and (max-width: 48em){
.content-image-image,
.content-image-content{
	padding-bottom:20px;
}
}
.promo-box {
    display: table;
	width:100%;
}
.promo-info {
    padding-right: 15px;
}
.promo-action .btn{
    margin-bottom: 20px;
}
.promo-action .promo-btn-1{
	margin-right: 20px;
	}

@media screen and (min-width: 768px){
.promo-info, .promo-action {
    display: table-cell;
    vertical-align: middle;
	text-align:right;
}
}
@media screen and (max-width: 768px){
.section-features .iconlist_icon {
    position:static;
}
}
/*
 * footer
 */

#footer .widget-area{
    position: relative;
    padding: 60px 0;
	background-color: #252525;
	color: #fff;
}
#footer h3{
	margin-bottom: 25px;
	color: #fff;
	}
#footer li{
    margin-bottom: 10px;
    list-style: none;
}

#footer #contact{
	margin-bottom: 0px;
	}
#footer #contact input[type="text"]{
	color: #777;
	width: 78.03921568627451%;
	padding: 3px 5px;
	border: 1px solid #ececec; 
	background-color: #fcfcfc ;
	margin-bottom: 1px !important;
}
#footer #contact span{
	color: #777;
	font-size: 13px;
	display: inline-block;
	width: 44px;
	
}
#footer #contact input:focus, 
#footer #contact textarea:focus{
	box-shadow: none;
	background-color: #fff !important;}
#footer #contact textarea{
	color: #777;
	padding: 5px;
	width: 95.29411764705882%;
	height: 66px;
	overflow: auto;
	margin-bottom: 2px;
	border: 1px solid #ececec; 
	background-color: #fcfcfc;
}
#footer #contact p{margin-bottom: 5px;}


#footer-copyright{
	width: 100%;
	background-color: #3C3C3C;
}
#footer-copyright .container{
	padding-top: 0;
	padding-bottom: 0;
}
#footer-copyright ul{
	float: right;
	}
#footer-copyright li{
	list-style: none;
	padding: 15px 0;
	margin-left: 10px;
	float: left;
	font-size: 10px;
	text-transform: uppercase;
}
#footer-copyright a{
	font-weight: 400;
	color: #D0D0D0;
	font-family: 'Open Sans', sans-serif;
}
#footer-copyright a:hover{color: #fff;}
#footer-copyright p{
	font-size: 12px;
	color: #D0D0D0;
	padding-top: 14px;
	letter-spacing: 0.04px;
}


@media screen and (max-width: 920px){

#header.header-overlay{
		position:relative;
		}
section .bottom-image img{
	position:static;
	}
section .hero_content,
section .hero_image{
	height:auto;
	}
section .hero_content{
	padding-top:30px;
	padding-bottom:30px;
	}
#sidebar{
	float:none;
	display:inherit;
	}
}
	

/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	background: #0c1923;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #0c1923;
	margin-top: 44px;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	background:inherit;
}
.mean-container .mean-nav ul {
	position:static;
	}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	padding:0;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-top: 1px solid #383838;
	border-top: 1px solid rgba(255,255,255,0.5);
	text-decoration: none;
	text-transform: uppercase;
	font-size:inherit;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 32px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.9);
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}
